#-----------------------------
# Basic settings
#-----------------------------
IMAGE_BASE_URL=<BASE_DOMAIN_WITH_IMAGES_TO_BE_USED>
IMAGE_PROCESSOR_DOMAIN=<SERVICE_DOMAIN>
IMAGE_PROCESSOR_IP=<SERVICE_IP>